.fullScreenContainer {
    background-image: url('grooming.png');
    background-color: #D59DF5;
    background-size: cover;
    background-position: center; 
    display: flex;
     overflow-y: auto;
    max-width: 100%;
    height: auto;
    /* display: block;
    flex-grow: 1; */
}