.fullScreenContainer {
    background-image: url('grooming.png');
    background-color: #D59DF5;
    background-size: cover;
    background-position: center;
    display: flex;
    overflow-y: auto;
    min-height: 400px;
    flex-grow: 1;
}