.pill
{
    background-color: #111F75;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 3px 3px;*/
    width: 80px;
    border-radius: 13px;
    margin-left: 10px;
}

.header{
    max-width: 180px;
    min-width: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ff49c4;
}


a
{
    text-decoration: none;
}


.icon
{
    width: 40px;
    height: 40px;
}

.linkItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.picon
{

    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    color:    #111F75;
    align-items: center;
    text-align: center;

}
.container{

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout{
    float: right;
    position: absolute;
    right: 50px;
}
.logoutBotton
{

    background-color: #111F75;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    width: 80px;
    border-radius: 13px;
    margin-right: 100px;
}

.noteCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0e343c;
    max-width: 470px;
    width: 100%;
    min-height: 100px;
    background-color: #dbf2f4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    z-index: 2;
    /* position: relative;*/
}

.noteCardBody
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noteCardFooter {
    display: flex;
    flex-direction: column;
}

.noteCardNameProcedure {
    font-size: 22px;
}
.status-label {
    padding: 7px 5px 5px;
    border-radius: 5px;
}
.waiting {
    display: flex;
    background-color: #ffd300;
    width: 100px;
    border-radius: 5px;
}
.denied {
    padding: 7px 5px 5px;
    border-radius: 5px;
    background-color: red;
}
.approved {
    padding: 7px 5px 5px;
    border-radius: 5px;
    background-color: greenyellow;
}

.completed
{
    padding: 7px 5px 5px;
    border-radius: 5px;
    background-color: lightskyblue;
}



.cardSchedule
{
    max-width: 170px;
    padding: 7px 5px 5px;
    border-radius: 5px;
    background-color: lightskyblue;
}


.cardSchedule234
{
    max-width: 170px;
    padding: 7px 5px 5px;
    border-radius: 5px;
    background-color: lightpink;

}