.pill
{
    background-color: #111F75;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 3px 3px;*/
    width: 80px;
    border-radius: 13px;
    margin-left: 10px;
}

.header{
    width: 100vw;
    height:180px;

    justify-content: center;
    align-items: center;
    display: flex;

    background-color: #FFBAF6;
    border-radius: 20px
}


a
{
    text-direction: none;
}


.icon
{

    /*margin-top: 20px;*/
    /*margin-left: 20px;*/

}

.picon
{

    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    color:    #111F75;
    align-items: center;
    text-align: center;

}
.container{

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout{
    float: right;
    position: absolute;
    right: 50px;
}
.logoutBotton
{

    background-color: #111F75;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    width: 80px;
    border-radius: 13px;
    margin-right: 100px;
}